<div id="background">
  <mat-card id="register-card">
    <mat-card-title>Create an account</mat-card-title>
    <mat-card-content>
      <form [formGroup]="adminRegisterForm">
        <p>
          <mat-form-field>
            <input [(ngModel)]="admin.userName" placeholder="Enter your username" formControlName="userName" matInput name="userName" type="text" id="userName" />
            <div *ngIf="userName?.invalid && userName?.touched">
              <small *ngIf="userName?.errors?.['required']" class="text-danger">The username is required!</small>
              <small *ngIf="userName?.errors?.['minlength']" class="text-danger">The username has to contain at least 3 characters!</small>
            </div>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input [(ngModel)]="admin.passWord" placeholder="Enter your password" matInput id="passWord" name="passWord" formControlName="passWord" required />
            <div *ngIf="passWord?.invalid && passWord?.touched">
              <small *ngIf="passWord?.errors?.['required']" class="text-danger">The password is required!</small>
              <small *ngIf="passWord?.errors?.['minlength']" class="text-danger">The password has to contain at least 8 characters!</small>
              <small *ngIf="passWord?.errors?.['unallowedpassword']" class="text-danger"
                >The password has to contain at least one uppercase letter, one lowercase letter, one special character and one number!</small
              >
            </div>
          </mat-form-field>
        </p>
        <div class="example-button-col">
          <button mat-raised-button color="primary" class="buttons" (click)="handleSubmitButtonClick()">Submit</button>
          <button mat-raised-button color="primary" class="buttons" (click)="handleLoginButtonClick()">Log in</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
