<h1 mat-dialog-title>Change your password</h1>
<div [formGroup]="changePasswordForm" class="content-container form-group" mat-dialog-content>
  <mat-form-field class="example-full-width" appearance="fill">
    <input [(ngModel)]="passWordToChangeData.oldPassword" name="oldPassword" formControlName="oldPassword"  matInput placeholder="Enter the old password" />
    <div *ngIf="oldPassword?.invalid && oldPassword?.touched">
      <small *ngIf="oldPassword?.errors?.['required']" class="text-danger">The password is required!</small>
      <small *ngIf="oldPassword?.errors?.['minlength']" class="text-danger">The minimal length has to be 8!</small>
      <small *ngIf="oldPassword?.errors?.['unallowedpassword']" class="text-danger"
        >The password has to contain at least one uppercase letter, one lowercase letter, one special character and one number!</small
      >
    </div>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <input [(ngModel)]="passWordToChangeData.newPassword" name="newPassword" formControlName="newPassword" matInput placeholder="Enter the new password" />
    <div *ngIf="newPassword?.invalid && newPassword?.touched">
      <small *ngIf="newPassword?.errors?.['required']" class="text-danger">The password is required!</small>
      <small *ngIf="newPassword?.errors?.['minlength']" class="text-danger">The minimal length has to be 8!</small>
      <small *ngIf="newPassword?.errors?.['unallowedpassword']" class="text-danger"
        >The password has to contain at least one uppercase letter, one lowercase letter, one special character and one number!</small
      >
    </div>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="handleOkButtonClick()" cdkFocusInitial>Ok</button>
  <button mat-button (click)="handleCancelButtonClick()">Cancel</button>
</div>
