.example-button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buttons {
    margin-left: 10px;
  }

.modify-button {
    margin-left: 10px;
}

.entries-panel{
    margin-left: 10px;
}

.entries-color{
    color: black;
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: url('../../../assets/images/control_background.jpg');
  }

  * {
    box-sizing: border-box;
  }