<mat-card>
    <mat-card-title>Hello {{ currentUserName }}!</mat-card-title>
    <mat-card-content>
      <form>
        <h2>Change the value of the actor:</h2>
        <div class="btn-column-toolbar">
            <div class="btn-row-toolbar">
             <mat-slider name="slider"  min="0" max="100" step="1" [(ngModel)]="valueChange"></mat-slider>
             <h3>{{valueChange}}</h3>
            </div>
            <button mat-raised-button color="primary" (click)="change()">Change</button>
        </div>
        <div class="btn-row-toolbar">
            <button  class="row-toolbar-buttons" (click)="handleLogOutButtonClick()" mat-raised-button color="primary">Log out</button>
            <button class="row-toolbar-buttons" (click)="handleBackToVisualizeButtonClick()" mat-raised-button color="primary">Back to visualize</button>
          </div>
      </form>
    </mat-card-content>
  </mat-card>
  